<a href="https://colab.research.google.com/github/SohyunMyeong/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_2%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 2강 - 데이터 분석을 위한 파이썬 1

## 2-1 리스트 슬라이싱

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70]
# 첫 4개의 원소 출력 / 첫번째 생략 가능 first_four = numbers[: 4] 이렇게 해도 동일하게 작동
first_four = numbers[0: 4]
print(first_four)
# 뒤 3개의 원소를 출력 / 마지막 생략 가능 last_three = numbers[-3:] 이렇게 해도 동일하게 작동
last_three = numbers[-3: 7]
print(last_three)

[10, 20, 30, 40]
[50, 60, 70]

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# 홀수번째 항목 출력
every_other_list = numbers[::2]
print(every_other_list)

# 역순 출력
reverse_list = numbers[::-1]
print(reverse_list)

[10, 30, 50, 70]
[70, 60, 50, 40, 30, 20, 10]

In [ ]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

# 첫 두 행 출력
first_two_rows = matrix[0:2]
print(first_two_rows)

# 첫 두 열 출력
# 기본적으로 접근순서 행-> 열/ 행을 가지고오고나서 각 행의 두 열씩 가져와야 됨 =>반복문 써야 됨
#각각의 한 행씩 가져오면서(두번째 row) 그걸가지고 첫 번째 row에서 조작할 수 있는 표현식
#1차원 행렬의 앞에 두개만 가져오라고 하면 되니까 앞의 row 로 조작하면 됨
first_two_columns = [row[0:2] for row in matrix]
print(first_two_columns)

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2], [5, 6], [9, 10], [13, 14]]

## 2-2 리스트 컴프리헨션

In [2]:
numbers = [ ]

# 0 ~ 4 포함 (5개의 원소가 포함된) 리스트 생성
""" 일반적인 방법
for i in range(5):
    numbers.append(i)
"""
#range(5)객체에 0~4까지 들어있는데 하나씩 가지고 오면서 그 값이 numbers에 들어감
numbers = [num for num in range(5)]
# 그 값을 각각 재출력하면서 리스트를 만든다
print(numbers)

[0, 1, 2, 3, 4]

In [6]:
numbers = [1, 2, 3, 4, 5]
squares = [ ]

# numbers의 모든 항목의 값을 제곱한 리스트
"""
for num in numbers:
  squares.append(num ** 2)
"""
# num에다가 제곱해라 근데 그 num은 어디있는거냐 for num in numbers에 있음
# numbers 리스트에서 1~5값을 하나씩 num에다 갖고와서 num 값을 제곱을 해서 squres에 넣어줌
squares = [num ** 2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [7]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [ ]

# 짝수만 추출한 리스트
"""
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
"""
# [num(한 줄) for num in numbers (한 줄) if num % 2 == 0 (한 줄)] => 총 세 라인에 들어갈 코드 한 라인으로 완성
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [9]:
# 리스트 확장해서 여러개의 중첩된 리스트 표현
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [ ]

# 두 리스트에 포함 모든 원소를 조합한 투플의 리스트 생성
for fruit in list1:
    for product in list2:
        pairs.append((fruit, product))

# list1에있는 fruit, list1이 한바퀴 돌때마다 다시한번 중첩된 형태로 list2에 있는 product 가져오기
# 한 번 돌 때마다 하나의 튜플식(그대로 짝을 지어서) 리스트로 넣어
pairs = [(fruit, product) for fruit in list1 for product in list2]

print(pairs)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

In [10]:
squares = { }

# 딕셔너리 생성, 딕셔너리 = 키와 값의 쌍
"""
for i in range(5):
    squares[i] = i ** 2
"""
# i는 동일하게 다 맞춰 줘야 함
squares = {i : i ** 2 for i in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [12]:
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}

# 인구 200만명 이상의 도시 리스트
# 도시와 인구를 갖고 와야 함 어디서? city, pop in city_population에서
"""
large_cities = {city : pop for city, pop in city_population} 이렇게 하면 틀림 키와 값의 쌍으로 있는
하나의 딕셔너리 아이템이 들어있는데 for문으로 하나씩 갖고오면 딕셔너리 아이템이 나와야 되는건데 여기는
두 개의 변수로 받음 이러면 동작하지 않음. 그래서 두 개의 변수에 한꺼번에 받기 위해서 곧바로 city_population 딕셔너리에서
엘리먼트를 갖고 오라는게 아니라 items를 갖고 오라는 식으로 city_population.items() 별도의 메소드 불러 줘야 함
이렇게 해주면 각각의 딕셔너리 엘리먼트가 하나의 튜플로 묶여 넘어 옴 -> 키, 값이 넘어 오게 되고 그 값이 각각 city, pop에 들어
"""
# 딕셔너리를 받을 때는 items라는 메소드를 통해 각각의 원소를 갖고 와야 한다.
large_cities = {city : pop for city, pop in city_population.items() if pop >= 200}
print(large_cities)

# 인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트
large_short_name_cities = {city : pop for city, pop in city_population.items() if pop >= 300 and '산' in city}
print(large_short_name_cities)

{'서울': 957, '부산': 339, '인천': 294, '대구': 242}
{'부산': 339}

## 2-3 문자열 형식화

In [13]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# C 스타일 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = '이름: %s, 나이: %d, 월급: %d원' % (name, age, salary)
# 직원이름, 나이, 세후 월급 출력


# 직원이름, 나이, 월급, 세금, 실수령액 추력


print(basic_format)

이름: 홍길동, 나이: 30, 월급: 3500000원

In [16]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# str.format 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = '이름: {}, 나이: {}, 월급: {}원'.format(name, age, salary)
# 형식을 지정하여 인덱스를 통해서 지정을 하게 되는 것의 장점은 굳이 format() salary를 또 한번 넣어주지 않아도 형식지정 곧바로 할 수 있음
# 이 외에도 별도의 allias를 통해서 형식 지정이 가능 함
basic_format = '이름: {0}, 월급: {2}월, 나이: {1}, 월급: {2}원'.format(name, age, salary)

# 직원이름, 나이, 세후 월급 출력

# 직원이름, 나이, 월급, 세금, 실수령액 추력


print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 월급: 3500000월, 나이: 30, 월급: 3500000원

In [18]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# f-문자열 포매팅
# 이름, 나이, 월급 출력
# 형식 지정은 :(콜) 뒤에 기술하면 됨
basic_format = F'이름: {name}, 나이: {age}, 월급: {salary:,}원'
# 직원이름, 나이, 세후 월급 출력

# 직원이름, 나이, 월급, 세금, 실수령액 추력


print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 나이: 30, 월급: 3,500,000원

## 2-4 컨텍스트 관리

In [19]:
# 파일 오픈 & 클로즈
file = open('output.txt', 'w')
file.write('Hello, world!\n')
file.close()
# 아예 close()를 하지 않게 임시적으로만 resource를 사용할 수 있게끔 만들어주자 하는게 컨텍스트 관리의 목적
with open('output.txt', 'w') as file_write:
    file_write.write('Hello, world!\n')
'''
꼭 파일에만 사용하지 않고 리스트, 딕셔너리 만들 때 사용할 수 있음, 웹 커넥션을 위한 통신 resource에서도 사용 가
with 리스트 as 사용할 변수:
이렇게 만들어 주면 리스트에 해당되는 객체 활용이 끝나고 나서 곧바로 메모리를 반환해주면 크게 메모리를
사용하지 않는 형태의 프로그램을 작성할 수 있음
'''

In [ ]:
# 복수개의 파일(읽기 & 쓰기) 관리

In [ ]:
import urllib.request

# URL 연결 관리
('https://raw.githubusercontent.com/jaehwachung/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv')
    data = response.read( ).decode('utf-8')

print(data)